:root {
  --color-1: #222222;
  --color-2: #fff;
  --orange: #fb811e;
  --green: #009f4d;
  --color-text: #707070;
  --display-large: flex;
  --display-small: none;
  --back-to-top: 0;
  --width-click-show: 40px;
  --bg: #fff;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
/* Global CSS
.theme-dark {
  --color-1: #fff;
  --color-2: #222222;
} */
/* body{
    background: var(--color-1);
} */
/* CSS */
/* @media screen and (max-width: 768px) {
  :root {
    --color-1: red;
    --color-2: yellow;
  }
} */

/* .vidu:hover .vidudehover{
  --color-1: var(--green);
} */
header {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 10%;
  padding: 0;
  align-items: center;
  background-color: var(--bg);
  color: var(--color-1);
  transition: all 0.5s;
  height: 100px;
}

@media only screen and (min-width: 1280px) {
  .scroll-header {
    height: 80px;
  }
}

@media only screen and (max-width: 991px) {
  header {
    height: auto;
  }
}

.toggle-icon {
  width: 10%;
  position: absolute;
  top: 38px;
  right: 90px;
}
.navbar-dark .navbar-brand:hover {
  color: #189a46;
}
.navbar-dark .navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  color: #189a46;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--color-1) !important;
}
.menu li::after {
  content: "";
  width: 0%;
  background-color: #189a46;
  height: 2px;
  display: block;
  transition: all 1s;
}
.menu {
  text-align: center;
}
.menu li {
  margin: 0 1rem;
  font-size: 1.2rem;
}
.navbar {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem;
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: #189a46 !important;
}
.menu li:hover::after {
  width: 90%;
}
.button__drop button {
  cursor: pointer;
  background-color: white;
  border: none;
  margin-top: 8px;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -50px;
  z-index: 1000;
  display: none;
  float: left;
  /* right: -2px; */
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.27rem;
  margin-top: 15px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #189a46;
}
.angle__icon i {
  font-size: 14px;
  padding-left: 3px;
  font-weight: 600;
}
.toggle-theme {
  cursor: pointer;
  font-size: 30px;
}
.theme-switch input {
  display: none;
}
#icon-background-dark,
#icon-background-light {
  font-size: 20px;
  margin-left: 7px;
}
.mode i {
  padding: 0 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s;
}
.fas .fa-moon {
  color: var(--color-2);
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.dark {
  background: #222222;
  color: var(--color-2);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  --color-1: #fff;
  --color-2: #060606;
  --color-3: #b7b7b7;
  --color-4: #0b0d0e;
  --shadow: rgb(23 19 19);
  --bg: #222222;
}
.light {
  background: #fff;
  transition: 1s cubic-bezier(0.075, 0.82, 0.16 1);
}
.navbar-dark .navbar-toggler {
  color: green;
  border: none;
}
.toggle-icon {
  margin-bottom: 5px;
}
.angle__icon i {
  font-size: 14px;
  font-weight: 600;
  display: block;
  position: absolute;
  left: 49px;
  top: 20px;
}

/* carousel  */
.carousel-caption1 {
  position: absolute;
  /* right: 15%; */
  bottom: 20px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  top: 35%;
  width: 40%;
}

@media only screen and (min-width: 1200px) {
  h5 {
    font-size: 52px;
    line-height: 62px;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 668px) {
  h5 {
    font-size: 22px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .mt-sm-5 {
    margin-top: 0 !important;
  }
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 668px) {
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.carousel-caption2 {
  position: absolute;
  bottom: 20px;
  left: 41%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 44%;
  color: #fff;
  text-align: left;
  top: 26%;
}
@media only screen and (min-width: 1200px) {
  .carousel-caption2 h5 {
    font-size: 52px;
    line-height: 62px;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 668px) {
  .carousel-caption2 h5 {
    font-size: 22px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
  }
}
.carousel-caption3 {
  position: absolute;
  /* right: 15%; */
  bottom: 20px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  top: 35%;
  width: 40%;
}
@media only screen and (min-width: 1200px) {
  .carousel-caption3 h5 {
    font-size: 52px;
    line-height: 62px;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 668px) {
  .carousel-caption3 h5 {
    font-size: 22px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
  }
}
.carousel-caption4 {
  position: absolute;
  bottom: 20px;
  left: 41%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 44%;
  color: #fff;
  text-align: left;
  top: 26%;
}
@media only screen and (min-width: 1200px) {
  .carousel-caption4 h5 {
    font-size: 52px;
    line-height: 62px;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 668px) {
  .carousel-caption4 h5 {
    font-size: 22px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
  }
}
.button__1 {
  cursor: pointer;
  background: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #189a46;
  text-decoration: none;
}
.btn:hover {
  color: #189a46;
}
.button__2 {
  border-radius: 10px;
  border: 2px solid white;
  padding: 1rem 2rem;
  transition: all 0.5s;
  color: white;
  font-size: 1rem;
}
.button__2:hover {
  background: white;
}
.carousel-indicators li {
  border-radius: 50%;
  margin: 0px 10px;
  height: 10px;
  width: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
/* about */
.about__content {
  text-align: center;
  padding: 5rem 0;
  max-width: 700px;
}
.about__content h6 {
  color: #f53626;
  font-weight: 500;
  font-size: 1.3em;
}
.about__content a {
  color: black;
  font-weight: 700;
  border-bottom: 2px solid #189a46;
  padding: 0;
  border-radius: 0;
}
.about__content p {
  font-size: 1.2rem;
  padding: 0;
  color: #696969;
}
/* feature */
#feature {
  background-color: rgba(147, 107, 232, 0.05);
  padding: 6rem 0;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 35px;
  transition: all 0.5s;
}
.card-body {
  text-align: left;
}
.card {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.col-md-4:hover {
  transform: translateY(-20px);
}
.card:hover {
  background-color: rgba(147, 107, 232, 0.05);
}
.card-title {
  padding: 15px 0;
  font-weight: 700;
}
.card-body i {
  color: #189a46;
}
.button__fea {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid #189a46;
  padding: 0;
  border-radius: 0;
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    margin-bottom: 30px;
    max-width: 33.333333%;
  }
}
/* services */
#services {
  padding: 6rem 0;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.services__content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
  color: #696969;
}
.cont-4 li {
  font-size: 16px;
  line-height: 26px;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
}
.cont-4 li span {
  color: #189a46;
  margin-right: 12px;
  background: rgba(147, 107, 232, 0.05);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}
.services__left img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.services__right {
  align-self: center;
  margin-top: 25%;
}
/* count */
#count {
  background-color: #189a46;
  padding: 2.5rem 0;
}
.col-lg-3 {
  color: white;
}
.col-lg-3 h1 {
  font-size: 50px;
  font-weight: 600;
}
.col-lg-3 h6 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.8;
}
.stats_info {
  text-align: center;
  padding: 0.5rem;
}
.col-6 h1 {
  font-size: 40px;
  font-weight: 600;
}
/* phần của a Tuyên  */
body {
  font-family: "Jost", sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  /* color: var(--color-text); */
  font-family: "Jost", sans-serif;
  margin: 15px 0;
}

/* pricing */

#pricing {
  background: rgba(147, 107, 232, 0.05);
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.pricing__main .heading h6 {
  font-size: 25px;
  color: #f53626;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.pricing__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  width: 90%;
}

@media screen and (max-width: 800px) {
  #pricing .pricing__content .pricing__list {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  #pricing .pricing__content .pricing__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
  }
}

.pricing__list .pricing__content {
  align-self: center;
  background: #fff;
  border-radius: 6px;
}

.pricing__content .pricing__content-1 {
  padding: 56px 40px;
}
.pricing__content .pricing__content-3 {
  padding: 56px 40px;
  /* border-left: 0; */
}

.pricing__content.active {
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
  z-index: 1;
}

.pricing__content .pricing__content-2 .pricing__top {
  padding: 48px 40px 8px;
}

.pricing__content .pricing__content-2 .pricing__bottom {
  padding: 32px 40px 56px;
}

.pricing__top {
  text-align: center;
}

.pricing__top h6 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 30px;
  text-transform: capitalize;
}

.pricing__top h4 {
  font-size: 40px;
}

.pricing__content-2 .pricing__top {
  padding: 3em 2.5em 0.5em;
  background: var(--green);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing__content-2 .pricing__top h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--green);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.pricing__content-2 .pricing__top h6 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 30px;
  text-transform: capitalize;
  color: var(--color-2);
}

.pricing__content-2 .pricing__top h4 {
  color: #fff;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
}

.pricing__content-2 .pricing__top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing__content-2 .pricing__top h4 span {
  color: #eee;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.pricing__bottom ul li p {
  font-size: 18px;
  color: #707070;
  padding-top: 6px;
  line-height: 28px;
}

.buy__button.btn.btn-success {
  padding: 12px 35px;
  border-radius: 10px;
  margin-top: 32px;
}

.buy__button a:hover {
  text-decoration: none;
}

.buy__button a {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  margin-top: 32px;
}

.pricing__content-3 .pricing__top h4,
.pricing__content-1 .pricing__top h4 {
  color: var(--green);
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
}

.pricing__content-3 .pricing__top h4 label,
.pricing__content-1 .pricing__top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing__content-1 .pricing__top h4 span,
.pricing__content-3 .pricing__top h4 span {
  color: #999;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

/* video */

#video {
  background: #fff;
}

#video .content__video {
  max-width: 950px;
  margin: 0 auto;
}

.radius-image {
  border-radius: 10px;
}

.about__media {
  position: relative !important;
}

.about__media a {
  position: absolute !important;
}

.about__media .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.about__media .play-view i {
  color: #009f4d;
}

.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  z-index: 3;
}

.video-play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.icon__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon__container .box {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  position: absolute;
  z-index: 2;
}
.icon__container .box span {
  position: absolute;
  box-sizing: border-box;
  /* border: 2px solid #009f4d; */
  background: rgba(9, 126, 9, 0.192);
  border-radius: 50%;
  animation: animate 3s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 150px;
    height: 150px;
  }
}

/* .video-play-icon::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: solid #009f4d 2px;
  display: block;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  animation: play-icon 1s infinite linear;
}

.video-play-icon::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: solid #009f4d 2px;
  display: block;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  animation: play-icon2 1s infinite linear;
}

@keyframes play-icon {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0.5;
    transform: scale(1.7);
  }
}

@keyframes play-icon2 {
  from {
    opacity: 0.5;
    transform: scale(1.4);
  }
  to {
    opacity: 0;
    transform: scale(1.9);
  }
} */
.modal-content {
  width: 720px;
  height: 480px;
}

/* testimonial */

#testimonial {
  background: rgba(147, 107, 232, 0.05);
  padding-bottom: 70px;
}

.tes__content .tes__inner {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--color-2);
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border-radius: 10px;
}

.tes__des {
  display: flex;
  text-align: center;
}

.tes__img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--color-2);
  border-radius: 50%;
}

.tes__people {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
  width: 515px;
}

.tes__items .contain {
  max-width: 1050px;
  margin: auto;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  border-radius: 100rem;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

.slick-dots .slick-active button,
.slick-dots li.slick-active button:hover {
  background: var(--green);
  width: 30px;
  height: 10px;
}

.tes__content .tes__inner blockquote q {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  margin-bottom: 1.5em;
  color: #707070;
}

.tes__content .tes__inner blockquote q::before {
  font-size: 50px;
  color: var(--green);
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  font-family: "Merriweather", serif;
}

/* contact */

#contact .header__section h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.subscribe-wthre .subscribe__section {
  justify-content: space-between;
}

#contact .subcribe {
  max-width: 650px;
}

.subscribe-wthre input {
  font-size: 16px;
  color: var(--color-text);
  padding: 0 20px;
  height: 60px;
  border-radius: 10px;
  flex-basis: 70%;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.subscribe-wthre button {
  flex-basis: 27%;
  font-size: 18px;
  border-radius: 10px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 667px) {
  .subscribe-wthre button {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
}

/* footer */

#footer__project {
  background: var(--color-1);
}

.footer__content .footer__title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer__content ul li p {
  font-weight: normal;
  font-size: 16px;
  color: var(--color-text);
  line-height: 28px;
}

.footer__content .footer__list ul li a {
  font-weight: normal;
  font-size: 16px;
  color: var(--color-text);
  line-height: 28px;
  text-transform: capitalize;
}

.footer__content .footer__list ul li a:hover {
  color: #fff;
}

.footericon li {
  display: inline-block;
  margin-right: 15px;
}

.footericon li a i {
  font-size: 16px;
  color: var(--color-text);
}

.footericon li a i:hover {
  color: #fff;
  transition: 0.3s ease-in;
}

.footer1 ul li p a {
  color: var(--color-text);
}

.footer1 ul li p a:hover {
  color: #fff;
}

#footer__project .footer2 {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

#footer__project .footer2 p {
  color: var(--color-text);
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

#footer__project .footer2 p a {
  color: var(--orange);
  opacity: 0.9;
  text-decoration: none;
}

#footer__project .footer2 p a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

#backtotop {
  width: 50px;
  height: 50px;
  background: #009f4d;
  color: #d8d8d8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 40px;
  cursor: pointer;
}
